
	#qr-canvas{
		display:none;
	}

	#outdiv{
		width:240px;
		height:240px;
	}

	#v{
		width:240px;
		height:240px;
	}

	@media screen and (max-width: 480px){
		
		#outdiv{
			width:190px;
			height:190px;
		}
		
	    #v{
			width:190px;
			height:190px;
		}
		
		@media screen and (max-device-width: 480px) 
	              and (orientation:portrait){
	  
			#outdiv{
				width:270px;
				height:270px;

			}
			
		    #v{
				width:270px;
				height:270px;
			}
		
		}

	}
